@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(18%);
  }
  75% {
    transform: translateX(-14%);
  }
  100% {
    transform: translateX(0);
  }
}

::view-transition-old(.width) {
  height: 100%;
}

::view-transition-new(.width) {
  height: 100%;
}

::view-transition-old(.slide-in) {
  animation-name: slideOutRight;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(.slide-in) {
  animation-name: slideInRight;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
}

::view-transition-old(.slide-out) {
  animation-name: slideOutLeft;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(.slide-out) {
  animation-name: slideInLeft;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-3rem);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(3rem);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
